<div class="general-container">
    <div class="inner-contentbar">
        <div class="inner-container">
            <app-object-browser></app-object-browser>
            <div class="toolbar-scene">
                <app-toolbar></app-toolbar>
                <app-scene></app-scene>
            </div>
        </div>
        <app-content-bar></app-content-bar>
    </div>
            <div class="hierarchy-meshparams">
                    <app-hierarchy-bar></app-hierarchy-bar>
                    <app-mesh-params></app-mesh-params>
                </div>
</div>