.inner-container {
    display: grid;
    grid-template-rows: auto 27%;
}

.object-scene-container {
    display: grid;
    grid-template-columns: 17% auto;
}

.general-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    display: grid;
    grid-template-columns: auto 15%;
}

.toolbar-scene {
    display: grid;
    grid-template-rows: 10% auto;
}

.hierarchy-meshparams-container {
    display: grid;
    grid-template-rows: 50%;
}

app-scene, app-mesh-params, app-object-browser, app-content-bar, app-toolbar, app-hierarchy-bar {
    margin: 0mm;
    padding: 0mm;
    background: #303030;
}

/* Beautiful borders */

app-scene {
    border: 2px solid;
}

app-object-browser, app-hierarchy-bar {
    border-bottom: 2px solid;
}

app-toolbar, app-content-bar {
    border-left: 2px solid;
    border-right: 2px solid;
}
mat-tab-group, mat-tab-body-wrapper {
    height: 100%;
}


html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.tabs {
    max-width: 100%;
}

