.inner-container{
    display: grid;
    grid-template-columns: 20% auto 15%;
}
.general-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 10% auto 30%;

}
app-scene, app-mesh-params, app-object-browser, app-content-bar{
    border:1px solid rgba(0, 119, 255, 0.795);
    margin: 0mm;
    padding: 0mm;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    height: 100%;
}