.inner-container{
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 80% auto;
    height: 50%;
}
.general-container{
    height: 100%;
    width: 100%;
    

}
app-scene, app-mesh-params, app-object-browser, app-content-bar{
    border:1px solid rgba(0, 119, 255, 0.795);
    margin: 0mm;
    padding: 0mm;
}